body{
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: green;
    font-weight: 900;
}
p{
    background-color: aqua;
}
ul{
    background-color: aquamarine;
}
a{
    color: blueviolet;
    background-color: antiquewhite;
}
q{
    color: red;
}